@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sen", sans-serif;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding: 30px;
    background-image: url(../Img/Fondo.png);
}

div{
    background: #FBF8f3;
    padding: 30px 60px;
    border-radius: 40px;
    
}

h1 {
    font-size: 200px;
    font-weight: bolder;
    background-image: url(../Img/Fondo.png);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h2{
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 20px;
}

a {
    position: relative;
    text-decoration: none; 
    color: rgb(22, 56, 143); 
    font-size: 20px;
}

a::before {
    content: ""; 
    position: absolute;
    left: 50%; 
    bottom: 0; 
    width: 0;
    height: 2px; 
    background-color: rgb(30, 70, 180); 
    transition: width 0.3s ease, left 0.3s ease; 
}

a:hover::before {
    width: 100%; 
    left: 0; 
}

@media (max-width: 991px) {
    h1 {
        font-size: 90px;
    }

    h2 {
        font-size: 25px;
    }

    div{
        padding: 20px 25px;
    }
}