main {
    margin: 110px 70px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 30px;
    padding: 0 40px;
}

.btn-full {
    margin: 20px 50px;
    display: block;
    width: 90%;
    padding: 10px;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgb(22, 56, 143);
    border: none;
    border-radius: 20px;
    text-decoration: none; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-full:hover {
    background-color: rgb(30, 70, 180); 
}

.card {
    display: flex;
    align-items: center;
    width: 50vw;
    max-width: 450px;
    padding: 20px;
    background: lightgray;
    border-radius: 16px;
    margin: 20px;
    box-shadow: 0 30px 20px rgb(0 0 0 / 8%);

}

.card img {
    max-width: 180px;
    width: 18vw;
    height: 200px;
    object-fit: cover;
    margin-left: -50px;
    margin-right: 20px;
    border-radius: inherit;
}

.card-content {
    flex: 1;
}

.card h2 {
    font-size: 18px;
    font-weight: 700;
}

.card h3 {
    color: rgb(0 0 0 / 90%);
    font-size: 16px;
    font-weight: 500;
}

.card p {
    color: rgb(0 0 0 / 70%);
    font-size: 14px;
}

.card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    gap: 15px; /* Añadir un poco de espacio entre los botones */
}

.card-buttons a,
.card-buttons button {
    border: 0;
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.card-buttons .btn-edit {
    background-color: rgb(22, 56, 143);
    color: white;
}

.card-buttons .btn-delete {
    background-color: rgb(158, 18, 18);
    color: white;
}

@media (max-width: 991px) {
    .card {
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: 20px auto;
        padding: 30px;
    }

    .card img {
        margin: -50px 0 20px 0;
        width: 100%;
        max-width: 1000px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-buttons {
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
        margin: 10px auto;
        padding: 20px;
        margin-top: 60px;
    }

    .card img {
        margin: -50px 0 20px 0;
    }
}
